.nav-bar {
    width: 100%;
    background-color: antiquewhite;
    font-size: medium;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.6rem;
}

.nav-bar li {
    cursor: default;
    padding: 0.6rem;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.nav-bar div {
    margin-left: 0.6rem;
    margin-right: auto;
    padding: 0.6rem;
    text-align: center;
}

#data-container {
    background-color: azure;
    padding: 0.6rem;
    margin: 0.6rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-container {
    background: white;
    padding: 1.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
}

#submit-btn {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: 0.8rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 86);
}


.login-base-form  {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.details-base-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 0;
    margin: auto;
}

.survey-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    align-items: center;
}

.survey-container button {
    width: 50%;
}

.survey-header {
    width: 67%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1.2rem;
}

.survey-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.survey-header textarea {
    margin: auto;
}

#survey-title {
    font-size: 1.6rem;
    font-weight: bold;
}

#survey-description {
    font-size: 1.2rem;
}

.survey-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

select {
    cursor: pointer;
}

label {
    cursor: pointer;
}

input[type="text"], textarea, select, input[type="number"] {
    width: 90%;
    padding: 0.6rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

textarea {
    resize: none;
    overflow: hidden;
    height: min-content;
    min-height: 10px;
}

textarea:focus {
    height: auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
}

button:hover {
    opacity: 0.8;
}

.question-container {
    width: 60%;
    margin: auto;
    padding: 0.5rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.4rem;
    background: #fafafa;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.question-header {
    display: flex;
    align-items: fle;
    flex-direction: row;
    gap: 0.5rem;
}

.extra-notes-container, .answer-notes-container {
    display: flex;
    flex: 30%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.min-length, .max-length, .min-value, .max-value {
    width: 25px;
    height: 15px;
}

.question-title {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-size: 1.1rem; 
    flex: 70%;   
}

.question-type {
    width: 100%;
    height: max-content;
    flex: 30%;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
}

.answer-box, .answer-numeric, .file-answer {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    flex: 70%;
}

.notes-input {
    flex: 30%
}

.scq-answer-container, .mcq-answer-container, .file-answer-container, .text-answer-container, .numeric-answer-container {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
}

.scq-option {
    height: auto;
}


.scq-option-container, .mcq-option-container {
    display: flex;
    flex-direction: column;
    flex: 70%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.scq-option-container button, .mcq-option-container button {
    width: 100px;
    margin-left: 1.1rem;
}

.scq-choice, .mcq-choice {
    margin-right: 0.3rem;
}

input[type="file"] {
    width: 95%;
    padding: 0.6rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    overflow: hidden;
}

.file-input-wrapper {
    flex: 70%;
    display: flex;
    flex-direction: column;
}

.file-type-container {
    display: flex;
    gap: 1rem;
}

.file-input-container {
    display: flex;
    flex: 70%;
    gap: 1rem;
}

.file-input-container input {
    flex: 70%
}

.file-input-container select {
    flex: 30%
}

button {
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
}

#add-question {
    background-color: #4CAF50;
    color: white;
}

#submit-survey {
    background-color: #008CBA;
    color: white;
}

.delete-question, .copy-question {
    background-color: #f44336;
    color: white;
    align-self: flex-end;
    margin-top: 0.3rem;
    width: 100px;
    margin-right: 0.3rem;
}

.copy-question {
    background-color: #4CAF50;
}

button:hover {
    opacity: 0.8;
}

.add-option-btn {
    width: 70px;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.password-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.password-container input {
    flex: 1;
}

.toggle-password-visibility {
    position: absolute;
    right: 1px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    width: fit-content;
}

.survey-stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.stats-body {
    display: flex;
    flex-wrap: wrap;
}

.survey-stat {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.survey-detail h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.survey-detail p {
    margin: 5px 0;
    font-size: 1em;
}

.survey-submit-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.survey-submit-container button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
}

.survey-submit-container button:hover {
    opacity: 0.8;
}

.survey-search-box {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.survey-search-box input {
    width: 100%;
}

#survey-questions-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcq-answer-option-container,
.scq-answer-option-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.response-table {
    border-collapse: collapse;
    border-radius: 1rem;
    /* border: #ccc 2px solid; */
    width: 90rem;
    margin: auto;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.response-table::-webkit-scrollbar {
    display: none;
}

.title-row {
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.response-table tr {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.response-table tr:nth-child(even) td,
.response-table tr:nth-child(even) th {
    background-color: #ddd;
}


.response-table td,
 .response-table th {
    padding: 0.5rem;
    border: #ccc 2px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.response-table tr th {
    width: 15rem;
}

.response-table tr td {
    width: 15rem;
}

.page-number-footer {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.page-number-footer div {
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

